@import "../global/parts";

.technology {
    padding-top: clamp(60px, _toVW(110), 110px);
    padding-bottom: clamp(60px, _toVW(110), 110px);
    color: $darkgrey;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .technology__title {
        margin-bottom: 1.8vw;
        padding-bottom: 1.9vw;
        @include _titleAfterLine($darkgrey);
    }
    .technology__content {
        position: relative;
        z-index: 2;
    }
    .technology__copy {
        text-align: center;
    }
}